In [7]:
import pandas as pd
from datetime import datetime

In [11]:
df = pd.read_excel("./../data/beispiel-datumswerte.xlsx")

In [23]:
df.head()

  Datumswert   Datum mit Uhrzeit
0 2017-03-11 2017-03-11 15:30:00
1 2017-04-12 2017-04-12 15:50:00

In [24]:
df[df["Datumswert"] > datetime(year=2017, month=4, day=1)].head()

  Datumswert   Datum mit Uhrzeit
1 2017-04-12 2017-04-12 15:50:00

In [27]:
df[df["Datumswert"] == datetime(year=2017, month=3, day=11)].head()

  Datumswert   Datum mit Uhrzeit
0 2017-03-11 2017-03-11 15:30:00

## Achtung! Aufpassen bei Datumswerten mit Uhrzeit! Hier brauchst du f√ºr die Tagesabfrage eine Bereichsabfrage!

In [31]:
df2 = df[df["Datum mit Uhrzeit"] > datetime(year=2017, month=3, day=11, hour=0, minute=0, second=0)]
df2[df2["Datum mit Uhrzeit"] <= datetime(year=2017, month=3, day=11, hour=23, minute=59, second=59)]

  Datumswert   Datum mit Uhrzeit
0 2017-03-11 2017-03-11 15:30:00