## Schritt 1: Alle Excel-Dateien in Ordner öffnen

In [5]:
import os
import pandas as pd

In [6]:
files = os.listdir("../data/excel-projekt")
excel_files = [file for file in files if file[-5:] == ".xlsx"]

In [7]:
dfs = {}

for file in excel_files:
    dfs[file] = pd.read_excel("../data/excel-projekt/" + file)

In [9]:
dfs["Marie.xlsx"]

       Datum  Anzahl an Anrufen  Anzahl an Verkäufen
0 2018-04-05                 40                   15
1 2018-04-06                 49                   14
2 2018-04-09                 38                   17
3 2018-04-10                 49                   10
4 2018-04-12                 40                   15
5 2018-04-13                 60                   30

In [11]:
dfs["Tobias.xlsx"]

       Datum  Anzahl an Anrufen  Anzahl an Verkäufen
0 2018-04-05                 41                   15
1 2018-04-06                 49                   14
2 2018-04-09                 42                   18
3 2018-04-10                 38                   13
4 2018-04-11                 55                   12
5 2018-04-12                 49                   12
6 2018-04-13                 45                   14

### Schritt 2: Alle Dateien in ein gemeinsames Dictionary zusammenführen

In [49]:
d = {}

In [50]:
df = dfs["Tobias.xlsx"]

In [52]:
for index, row in df.iterrows():
    date_col = row["Datum"].date()
    d[date_col] = {}
    d[date_col]["Tobias.xlsx"] = {
        "calls": row["Anzahl an Anrufen"],
        "sales": row["Anzahl an Verkäufen"]
    }
    
print(d)

{datetime.date(2018, 4, 5): {'Tobias.xlsx': {'calls': 41, 'sales': 15}}, datetime.date(2018, 4, 6): {'Tobias.xlsx': {'calls': 49, 'sales': 14}}, datetime.date(2018, 4, 9): {'Tobias.xlsx': {'calls': 42, 'sales': 18}}, datetime.date(2018, 4, 10): {'Tobias.xlsx': {'calls': 38, 'sales': 13}}, datetime.date(2018, 4, 11): {'Tobias.xlsx': {'calls': 55, 'sales': 12}}, datetime.date(2018, 4, 12): {'Tobias.xlsx': {'calls': 49, 'sales': 12}}, datetime.date(2018, 4, 13): {'Tobias.xlsx': {'calls': 45, 'sales': 14}}}