In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("./Firmeneinnahmen.xlsx")

In [5]:
df.head()

   Jahr  Einnahmen  Ausgaben                Notiz
0  2011   150000.0  100000.0       Ein gutes Jahr
1  2012   124000.0  100000.0       Ein gutes Jahr
2  2013   342000.0  250000.0       Ein gutes Jahr
3  2014   300000.0  100000.0       Ein gutes Jahr
4  2015   250000.0  100000.0  Ein schlechtes Jahr

In [6]:
df2 = df[df["Jahr"] != "Gesamt:"]
df3 = df2[df2["Jahr"].notnull()]

In [16]:
for index, row in df3.iterrows():
    print(row["Jahr"])
    print(row["Einnahmen"])

2011
150000.0
2012
124000.0
2013
342000.0
2014
300000.0
2015
250000.0
2016
275000.0
2017
300000.0
2018
250000.0

In [21]:
df.values

array([[2011, 150000.0, 100000.0, 'Ein gutes Jahr'],
       [2012, 124000.0, 100000.0, 'Ein gutes Jahr'],
       [2013, 342000.0, 250000.0, 'Ein gutes Jahr'],
       [2014, 300000.0, 100000.0, 'Ein gutes Jahr'],
       [2015, 250000.0, 100000.0, 'Ein schlechtes Jahr'],
       [2016, 275000.0, 150000.0, 'Was soll das?'],
       [2017, 300000.0, 200000.0, 'Noch ein Jahr'],
       [2018, 250000.0, 50000.0, 'Das Jahr 2018!'],
       [nan, nan, nan, nan],
       ['Gesamt:', 1991000.0, 1050000.0, nan]], dtype=object)

In [23]:
df.values[1][0]

2012

In [25]:
df

      Jahr  Einnahmen   Ausgaben                Notiz
0     2011   150000.0   100000.0       Ein gutes Jahr
1     2012   124000.0   100000.0       Ein gutes Jahr
2     2013   342000.0   250000.0       Ein gutes Jahr
3     2014   300000.0   100000.0       Ein gutes Jahr
4     2015   250000.0   100000.0  Ein schlechtes Jahr
5     2016   275000.0   150000.0        Was soll das?
6     2017   300000.0   200000.0        Noch ein Jahr
7     2018   250000.0    50000.0       Das Jahr 2018!
8      NaN        NaN        NaN                  NaN
9  Gesamt:  1991000.0  1050000.0                  NaN

In [26]:
print(len(df))

10

In [29]:
print(len(df[df["Jahr"] == 2012]))

1