In [9]:
import pandas as pd

In [20]:
df = pd.read_excel("./Firmeneinnahmen.xlsx")

In [21]:
df.head()

   Jahr  Einnahmen  Ausgaben                Notiz
0  2011   150000.0  100000.0       Ein gutes Jahr
1  2012   124000.0  100000.0       Ein gutes Jahr
2  2013   342000.0  250000.0       Ein gutes Jahr
3  2014   300000.0  100000.0       Ein gutes Jahr
4  2015   250000.0  100000.0  Ein schlechtes Jahr

In [22]:
df

      Jahr  Einnahmen   Ausgaben                Notiz
0     2011   150000.0   100000.0       Ein gutes Jahr
1     2012   124000.0   100000.0       Ein gutes Jahr
2     2013   342000.0   250000.0       Ein gutes Jahr
3     2014   300000.0   100000.0       Ein gutes Jahr
4     2015   250000.0   100000.0  Ein schlechtes Jahr
5     2016   275000.0   150000.0        Was soll das?
6     2017   300000.0   200000.0        Noch ein Jahr
7     2018   250000.0    50000.0       Das Jahr 2018!
8      NaN        NaN        NaN                  NaN
9  Gesamt:  1991000.0  1050000.0                  NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Jahr         9 non-null object
Einnahmen    9 non-null float64
Ausgaben     9 non-null float64
Notiz        8 non-null object
dtypes: float64(2), object(2)
memory usage: 400.0+ bytes