In [11]:
import pandas as pd

In [23]:
df = pd.read_excel("./MehrereBlaetter.xlsx", sheetname=None)

In [24]:
df_firma1 = df["Firma 1"]

In [25]:
df_firma1

   Jahr  Einnahmen  Ausgaben
0  2011     150000    100000
1  2012     124000    100000
2  2013     342000    250000
3  2014     300000    100000

In [26]:
df_firma2 = df["Firma 2"]
df_firma2

   Jahr  Einnahmen  Ausgaben
0  2011     444444    100000
1  2012     444444    100000
2  2013     444444    250000
3  2014     444444    100000