# Python II Hausaufgaben

1.Baue eine Funktion mit dem Namen 'double', der die Zahl 5 vedoppelt:

In [45]:
def double(lst):
    return [i*2 for i in lst]

In [46]:
n = [3, 5, 7, 10, 15]
print(double(n))

[6, 10, 14, 20, 30]

In [1]:
# Barnabys Lösungsvorschlag

def double(number):
    bigger = number * 2
    return bigger

In [2]:
double(5)

10

2.Baue einen for-loop, der durch vordefinierte Zahlen-list geht, und mithilfe der eben kreierten eigenen Funktion, alle Resultate verdoppelt ausdruckt.

In [4]:
lst = list(range(1,5))

In [48]:
for i in lst:
    print (i)

1
2
3
4

In [49]:
for i in (double(lst)):
    print (i)

2
4
6
8

In [5]:
# Barnabys Lösungsvorschlag
for n in lst:
    print(double(n))

2
4
6
8

3.Entwickle einen Code, der den Nutzer nach der Länge seinem Namen fragt, und ihm dann sagt, wieviele Zeichen sein Name hat.

In [64]:
print ("Wie ist dein Name?")

Wie ist dein Name?

In [63]:
#!/usr/bin/python

In [ ]:
Name = raw_input("Wie ist dein Name? ")
print "Ihr Name ist", Name

In [7]:
# Barnabys Lösungsvorschlag  -- NIE im Leben wäre ich auf sowas gekommen!!!
elem = input('Wie heisst Du?')
length = len(elem)
print('Hallo '+ elem+ ','+ ' Dein Name hat '+ str(length)+ ' Zeichen.')

Wie heisst Du?Marie-Antoinette
Hallo Marie-Antoinette, Dein Name hat 16 Zeichen.

4.Entwickle eine Funktion mit dem Namen km_rechner, der für die untenaufgeführten automatisch die Umrechung von Meilen in km durchführt und gerundet auf eine Kommastelle anzeigt.

In [84]:
miles = 1 * 0.62137   
kilometer = 1 / 0.62137

In [119]:
miles = 1
conversion_factor = 0.62137

kilometer = miles / conversion_factor
print (kilometer)

1.6093470878864444

In [145]:
def km_rechner(miles):

    conversion_factor = 0.62137
    kilometer = miles / conversion_factor
    kilometer = round(kilometer, 1)
    
    return kilometer

In [ ]:
# Barnabys Lösungsvorschlag
def km_rechner(m):
    m = m * 1.60934
    return round(m, 3)

In [147]:
print (km_rechner(5))
print (km_rechner(123))
print (km_rechner(53))

8.0
197.9
85.3

5.Wir haben in einem Dictionary mit Massen, die mit ganz unterschiedlichen Formaten daherkommen. Entwickle eine Funktion namens m_converter, die diese Formate berücksichtigt, und in Meter umwandelt.

In [11]:
#Unsere Formate
var_first = { 'measurement': 3.4, 'scale': 'kilometer' }
var_second = { 'measurement': 9.1, 'scale': 'mile' }
var_third = { 'measurement': 2.0, 'scale': 'meter' }
var_fourth = { 'measurement': 9.0, 'scale': 'inches' }

In [12]:
meter = 1 
kilometer = 1000 
mile = 1621
inches = 0.254

In [13]:
def m_converter(value):
    
    if value ["scale"] == "kilometer":
        return value["measurement"] * 1000
    elif value["scale"] == "mile":
        return value["measurement"] * 1621.37 
    elif value ["scale"] == "meter":
        return value["measurement"] * 1
    elif value ["scale"] == "inches":
        return value["measurement"] * 0.0254
    
print ("finito")

finito

In [ ]:
# Barnabys Lösungsvorschlag:

def m_converter(measurement):
    if measurement['scale'] == 'kilometer':
        return measurement['measurement'] * 1000
    if measurement['scale'] == 'mile':
        return measurement['measurement'] * 1600
    if measurement['scale'] == 'inches':
        return measurement['measurement'] * 0.0254
    else:
        return measurement['measurement']

In [14]:
print(m_converter(var_first))
print(m_converter(var_second))
print(m_converter(var_third))
print(m_converter(var_fourth))

3400.0
14754.466999999999
2.0
0.2286